# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/

# OS
Thumbs.db
.DS_Store

# IDE
.vscode/
.idea/

# Temp
*.tmp
~$*

# Data artifacts
data/batches/
data/site_texts.json
data/site_texts.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
